{% extends "ApplisunAireJeuxBundle::layout.html.twig" %}

{% block content %}
    {{ breadcrumb(departement) }}
    <ul>
        {% for ville in villes %}
            <li>
                <a href="{{ path('ville_show', {'slug': ville.slug, 'id': ville.id, 'page': 1 }) }}">{{ ville.nom }}</a> {{ ville.aires|length}} aires 
            </li>
        {% endfor %}    
    </ul>
        
    {% include 'ApplisunAireJeuxBundle:Default:pagination.html.twig' %}
{% endblock %}
