<footer>
    <div id="footer" class="row container">
        {% block footer %}
                <div class="col-sm-4">
                    © AireJeux 2015
                </div>
                <div class="col-sm-8">
                    <ul>
                        <li><a href="{{ path('contact') }}"> Nous contactez</a></li>
                        <li><a href="{{ path('mentions') }}"> Mentions légales</a></li>
                        <li><a href="{{ path('application') }}"> Applications</a></li>
                    </ul>
                </div> 
        {% endblock %}
    </div>
</footer>
