<footer>
    <div id="footer" class="row container">
        {% block footer %}
                <div class="col-xs-4">
                    © AireJeux 2015
                </div>
                <div class="col-xs-8">
                    <div class='row'>
                        <div class="col-sm-4"><a href="{{ path('contact') }}"> Nous contactez</a></div>
                        <div class="col-sm-4"><a href="{{ path('mentions') }}"> Mentions légales</a></div>
                        <div class="col-sm-4"><a href="{{ path('application') }}"> Applications</a></div>
                    </div>
                </div> 
        {% endblock %}
    </div>
</footer>
