<footer>
    <div id="footer" class="row container">
        {% block footer %}
                <div class="col-md-6">
                    © AireJeux 2015
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Nous contactez</li>
                        <li>Mentions légales</li>
                        <li>Applications</li>
                    </ul>
                </div> 
        {% endblock %}
    </div>
</footer>
