body{
    background-color: #f3f3f3;
}

body h2 {
    font-size: 19px;
    line-height: 19px;
    max-width: 300px;
    margin: 20px auto 20px auto;
}

.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

aside{
    padding-top: 50px;
}

.span9{
    padding-top: 50px;
}

.container{
    background-color: white;
}

.navbar .container{
    border-color: #e7e7e7;
}


.fright{
    float: right;
}

#map-canvas{
    min-height:300px;
    height:100%;  
    margin: 60px 0 0 0;
    padding-right: 10px;
    
}

#map-canvas img{
    padding: auto;
}

.inner-addon {
  position: relative;
  display: inline-block;
}

.right-addon .glyphicon {
  right: 0px;
}

.inner-addon .glyphicon {
  position: absolute;
  padding-right: 10px;
  pointer-events: none;
  padding-top: 11px;
}

#map{
    height: 600px;
    min-width: 320px;
}

#map img{
  position: absolute;
  top: 50%;
  left: 50%;
}

span.score {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
}

.score {
  vertical-align: middle;
}

.casquette:hover{
    cursor: pointer;
}

.score .casquette.full.left.big {
  width: 13px;
  background: url(../images/casquetteblanche_icon_full_left_big.png) no-repeat 0 0;
  margin-right: -4px;
}
.score .casquette.full.left {
  width: 8px;
  background: url(../images/casquetteblanche_icon_full_left.png) no-repeat 0 0;
}

.score .casquette.full.right.big {
  width: 13px;
  background: url(../images/casquetteblanche_icon_full_right_big.png) no-repeat 0 0;
}
.score .casquette.full.right {
  width: 7px;
  background: url(../images/casquetteblanche_icon_full_right.png) no-repeat 0 0;
}

.score .casquette.empty.left.big {
  width: 13px;
  background: url(../images/casquetteblanche_icon_left_big.png) no-repeat 0 0;
  margin-right: -4px;
}
.score .casquette.empty.left {
  width: 8px;
  background: url(../images/casquetteblanche_icon_left.png) no-repeat 0 0;
}

.score .casquette.empty.right.big {
  width: 13px;
  background: url(../images/casquetteblanche_icon_right_big.png) no-repeat 0 0;
}
.score .casquette.empty.right {
  width: 7px;
  background: url(../images/casquetteblanche_icon_right.png) no-repeat 0 0;
  
}

.score .casquette {
  color: #d1d1d1;
  font-size: 20px;
  position: relative;
  display: inline-block;
  line-height: 20px;
  height: 20px;
}

#form_score{
    display: none;
}

#comment_aire_texte{
    width: 100%;
}

.bottom-10{
              padding-top: 12px;
    background: #f3f3f3;
    border-top: 2px solid #e3e4e8;
    border-bottom: 2px solid #e3e4e8;
    margin-bottom: 15px;
    padding-bottom: 8px;
    
      }  
      
      .no-margin{
         margin-left: 0;
    margin-right: 0; 
      }      

@media screen and (max-width:768px) {
    #map-canvas{
        margin: 25px;
    }
    
    .navbar {
        margin: 0;
    }
    
    .navbar-form {
        margin-bottom: 0;
        padding: 10px 15px 0 15px;
    }
    
    .inner-addon .glyphicon {
        padding-right: 21px;
        padding-top: 32px;
      }
    
    .form-control {
        height: 40px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #000;
        width: 90%;
        font-size: 20px;
        
    }
    
    input {
        display: block;
        height: 40px;
        width: 80%;
        margin: 20px auto;
        text-align: center;
        font-size: 20px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #000;
    }
    
    .form-horizontal .form-group {
        margin: 0;
    }
    
    label {
        font-size: 18px;
        
      }
      
      
    
    
}