.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.fright{
    float: right;
}

#map-canvas{
    min-height:400px;
    height:100%;  
    margin: 0; 
    padding: 0;
}

#map-canvas img{
    padding: auto;
}