{% block form_title %}
    <h2 class="nomargin">Poster un commentaire !</h2>
{% endblock %}

{% block form_content %}
    <form action="{{ path('comment_aire', {'id': aire.id}) }}" method="POST" class="form-horizontal">
        {{ form_widget(form.texte) }}
        {{ form_rest(form) }}

        <input type="submit" value="Envoyer votre commentaire" class="btn btn-primary" />
    </form>
{% endblock %}
